/* colores */
@import "materialize/components/color";
$primary-color: #fc5c65 !default;
$secondary-color: #215b58 !default;
$ambiance-color:  #34495E !default;
$ambiance-darker: #0F141A !default;
$ambiance-lighter: #DADDE1 !default;
@import "materialize";
@import "material_icons";

/* footer adhesivo - sticky footer */
.header-logo{
  height: 100%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $ambiance-color;
}
main {
  flex: 1 0 auto;
}
input[type="search"]:not(.browser-default){
  margin: 0 0 0 0;
}
.no-margin-bottom{
  margin-bottom: 0px;
}

/* flat search input */
.flat-input .input-field input[type=search]:active {
  border-bottom-width: 0px;
  background-color: $ambiance-lighter;
}
.input-field input[type=search]:focus {
  border-bottom-width: 0px;
  box-shadow: 0px 0 0 #000;
  background-color: $ambiance-lighter;
  color: $secondary-color;
  font-size: 2em;
}
div.ambiance-lighter{
  background-color: $ambiance-lighter;
}
