/* colores */
@import "materialize/components/color";
$primary-color: #fc5c65 !default;
$secondary-color: #fc5c65 !default;
$ambiance-color:  #34495E !default;
@import "materialize";
@import "material_icons";

/* footer adhesivo - sticky footer */
.header-logo{
  height: 100%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $ambiance-color;
}
main {
  flex: 1 0 auto;
}
input[type="search"]:not(.browser-default){
  margin: 0 0 0 0;
}
// .user-view{
//   background-color: #efebe9;
// }
// .collection{
//   border: 1px solid #efebe9;
// }
// .collection.with-header .collection-header{
//   background-color: #efebe9;
//   border-bottom: 0px;
// }
// .collection .collection-item{
//   background-color: #efebe9;
//   border-bottom: 0px;
// }
